html, body {
    height: 100%;
}
html {
    display: table;
    margin: auto;
}
body {
    display: table-cell;
    vertical-align: middle;
}
.shell {
    border-style: solid;
    height: 250px;
    width: 250px;
}
table {
    margin : auto;
}
input[type="button"] {
    background-color:rgb(40, 181, 224);
    color: black;
    border: solid black 2px;
    height: 40px;
    width:100%
}
input[class="equal"] {
    background-color: rgb(228, 41, 181);
    color: black;
    border: solid black 2px;
    height: 40px;
    width:100%;
}
#colordiff {
    background-color: rgb(228, 147, 41);
    height: 50px;
}
input[type="text"] {
    background-color:rgb(23, 201, 0);
    border: solid black 2px;
    width: 100%
}
.operand {
    width: 250px;
}
#result {
    width: 150px;
    height: 50px;
}