body {
    background-color: rgb(34, 148, 45);
    margin:0;
    padding:0;
}
#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#navbar li {
    float: right;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar li a:hover {
    background-color: #111;
}

#content {
    text-align: center;
}

#content ul {
    list-style-type: square;
    list-style-position: inside;
}